body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(187, 195, 197);
}

.login-box {
    background-color: rgb(187, 195, 197);
    width: 300px;
    height: 200px;
    margin: 30px auto;
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
}

button {
    background-color: #0fd68d;
    width: 185px;
    color: white;
    height: 30px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"]
 {

    border: 2px solid;
    width: 200px;
    height: 25px;
}