body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-box{
    background-color: rgb(99, 241, 193);
    width: 300px;
    height: 200px;
    margin: 30px auto;
    text-align: center;
    padding-top:50px;
}
h2{
    text-align: center;
}
button {
    background-color:#5563ce;
    width: 185px;
    color: white;
    height: 30px;
}
input{
    width: 200px;
    height: 25px;
}